.subs {
    border: none;
    color: white;
    background-color: red;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2;
}

.subs:hover {
    opacity: 0.7;
}

.subs:active {
    opacity: 0.3;
}

.join {
    border-style: solid ;
    border-width: 1px;
    border-color: rgb(18, 150, 226);
    color: rgb(18, 150, 226);
    padding: 9px 10px 9px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.6s, color 0.6s;

}

.join:hover {
    background-color: rgb(18, 150, 226);
    color: white;
}

.join:active {
    opacity: 0.3;
}

.tweet {
    border: none;
    background-color: rgb(18, 150, 226);
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.6s;
}

.tweet:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.tweet:active {
    opacity: 0.3;
}